[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sqlalchemy = "*"
ffmpeg-python = "*"
fastapi = {extras = ["all"], version = "*"}
sse-starlette = "*"
asyncio = "*"
pika = "*"
aio-pika = "*"
encoder = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
